@use '@angular/material' as mat;
@include mat.core();

$custom-color-primary: mat.define-palette(mat.$blue-palette);
$custom-color-secondary: mat.define-palette(mat.$indigo-palette, A200, A400, 700);
$custom-color-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-color-primary,
    accent: $custom-color-secondary,
    warn: $custom-color-warn
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.core-theme($custom-theme);
@include mat.all-component-themes($custom-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-course-form {
  padding: 1rem
}